# 라이브러리 의존성 명시
#  - 의존성 (dependencies)
#    이 애플리케이션 구동에 꼭 필요하다.
django-environ

pyhub-llm[all]

# major, minor, bugfix
#  - bugfix 버전이 올라가는 것은 기능이 변경되지 않아요.
# django==5.2.0  # 정확히 같은 버전.
django~=5.2.0  # bugfix 버전 중에 최신을 설치
# django<=5.2.0
# django>=5.2.0
